@*Page for viewing projects and tasks*@
@using TangentSolutionsProject.Models
@model List<ProjectModel>
@{
    ViewBag.Title = "Index";

}


<div id="cardTable" class="projectsTable">
    <table class="projectsTable col-md-12 table-borderedtable-condensed cf">
        <thead class="cf">
        <thead >
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Billable</th>
                <th>Is Active</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProjectModel objUser in Model)
            {
                <tr id="project_@objUser.pk" class="clickableRow" onclick="changeTaskView(@objUser.pk)">
                    <td dataTitle="Title">@objUser.title</td>
                    <td dataTitle="Description">@objUser.description</td>
                    <td dataTitle="Start Date">@objUser.start_date</td>
                    <td dataTitle="End Date">@objUser.end_date</td>
                    <td dataTitle="Is Billable">@objUser.is_billable</td>
                    <td dataTitle="Is Active">@objUser.is_active</td>
                    <td dataTitle="Created On">@objUser.end_date</td>
</tr>
            }
        </tbody>
    </table>
</div>

<div id="tasksContainer">

</div>



<!-- Modal -->
<div id="editProject" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Project</h4>
            </div>
            
        </div>

    </div>
</div>

<script>
    var model = @Html.Raw(Json.Encode(Model));
    var current = null;

    function changeTaskView(user){
        var oldId = null;
        if(current != null)
        oldId = current.pk;
        //Get current selected
        current = getFromPk(user);
        
        //setup and update dom
        var html = "";
        html += "<h2>Selected Project: " + current.title + "</h2>";
        html +="<div class='editProject'><button class='btn btn-primary' data-toggle='modal' data-target='#editProject'>Edit</button><button class='btn btn-warning'>Delete</button></div>"
        if(current.task_set.length > 0){
        
        html += "<table class='col-md-12 table-bordered table-striped table-condensed cf'>";
        html+='<thead class="cf">';
        html+='<thead>';
        html+='<tr>';
        html+='<th>Title</th>';
        html+='<th>Due Date</th>';
        html+='<th>Estimated Hours</th>';
        html+='</tr>';
        html+='</thead>';
        html+='<tbody>';
        
        for(var i = 0; i < current.task_set.length; i++){
            html += "<tr>";
            html += "<td dataTitle='Title'>" + current.task_set[i].title +"</td>";
            html += "<td dataTitle='Due Date'>" + new Date(parseInt(current.task_set[i].due_date.substr(6))) + "</td>";
            html += "<td dataTitle='Estimated Hours'>"+current.task_set[i].estimated_hours+"</td>";
            html += "</tr>";
        }
        html+='</tbody>';
        html+='</table>';
        }
        document.getElementById("tasksContainer").innerHTML = html;

        //highlight selection
        if(oldId != null)
            document.getElementById("project_"+oldId).className = "clickableRow";
        document.getElementById("project_"+current.pk).className = "clickableRow orangeBorder";
    }

    function getFromPk(pk){
        for(var i = 0; i < model.length; i++){
            if(model[i].pk == pk)
                return model[i];
        }
    }
</script>
