@*Page for viewing projects and tasks*@
@using TangentSolutionsProject.Models
@model List<ProjectModel>
@{
    ViewBag.Title = "Projects";

}

<h1>@ViewBag.Title</h1>
<div id="cardTable" class="projectsTable">
  
    <table class="col-md-12 table-borderedtable-condensed cf">
        <thead class="cf">
        <thead >
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Billable</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (ProjectModel objUser in Model)
            {       
                    <tr id="project_@objUser.pk" class="clickableRow" onclick="changeTaskView(@objUser.pk)">
                        <td id="projectTitle_@objUser.pk" dataTitle="Title">@objUser.title</td>
                        <td id="projectDescription_@objUser.pk" dataTitle="Description">@objUser.description</td>
                        <td id="projectStartDate_@objUser.pk" dataTitle="Start Date">@objUser.start_date</td>
                        <td id="projectEndDate_@objUser.pk" dataTitle="End Date">@objUser.end_date</td>
                        <td id="projectIsBillable_@objUser.pk" dataTitle="Is Billable">@objUser.is_billable</td>
                        <td id="projectIsActive_@objUser.pk" dataTitle="Is Active">@objUser.is_active</td>
                    </tr>
                }
            
        </tbody>
    </table>
</div>

<div id="tasksContainer">

</div>





<script>
    //Waay too much DOM stuff, but whatever, mostly pure js
    var model = @Html.Raw(Json.Encode(Model));
    changeTaskView(model[0].pk);
    var current = null;
    var edit = false;
    function changeTaskView(user){
        if(edit) return;
        var oldId = null;
        if(current != null)
        oldId = current.pk;
        //Get current selected
        current = getFromPk(user);
        
        //setup and update dom
        var html = "<div class='row'>";
        html += "<h2 class='projectHeader'>Selected Project: " + current.title + "</h2>";
        html +="<div id='editButtons' class='editProject'><button class='btn btn-primary' onclick='editProject()'>Edit</button><button class='btn btn-warning' onclick='deleteProject()'>Delete</button></div></div>"
        html += "<h3>Tasks</h3>";
        if(current.task_set.length > 0){
        
        html += "<table class='col-md-12 table-bordered table-striped table-condensed cf'>";
        html+='<thead class="cf">';
        html+='<thead>';
        html+='<tr>';
        html+='<th>Title</th>';
        html+='<th>Due Date</th>';
        html+='<th>Estimated Hours</th>';
        html+='</tr>';
        html+='</thead>';
        html+='<tbody>';
        
        for(var i = 0; i < current.task_set.length; i++){
            html += "<tr>";
            html += "<td dataTitle='Title'>" + current.task_set[i].title +"</td>";
            html += "<td dataTitle='Due Date'>" + new Date(parseInt(current.task_set[i].due_date.substr(6))) + "</td>";
            html += "<td dataTitle='Estimated Hours'>"+current.task_set[i].estimated_hours+"</td>";
            html += "</tr>";
        }
        html+='</tbody>';
        html+='</table>';
        }
        else{
            html+='<h5>This project currently has no tasks</h5>';
        }
        document.getElementById("tasksContainer").innerHTML = html;

        //highlight selection
        if(oldId != null)
            document.getElementById("project_"+oldId).className = "clickableRow";
        document.getElementById("project_"+current.pk).className = "clickableRow orangeBorder";
    }

    //Replace line with input boxes
    function editProject(){
        edit = true;
        document.getElementById("editButtons").innerHTML = "<div id='editButtons' class='editProject'><button class='btn btn-primary' onclick='saveEdit()'>Save</button><button class='btn btn-warning' onclick='cancelEdit()'>Cancel</button>";
        if(current != null){
            var title = current.title;
            var description = current.description;
            document.getElementById("projectTitle_"+current.pk).innerHTML = "<input type='text' Value='"+title+"' id='title'/>";
            document.getElementById("projectDescription_"+current.pk).innerHTML = "<input type='text' Value='"+description+"' id ='description'/>";
            var startDate = current.start_date;
            document.getElementById("projectStartDate_"+current.pk).innerHTML = "<input type='date' Value='"+startDate+"' id='startDate'/>";
            var endDate = current.end_date;
            document.getElementById("projectEndDate_"+current.pk).innerHTML = "<input type='date' Value='"+endDate+"' id='endDate'/>";
            var isBillable = current.is_billable;
            console.log(isBillable);
            document.getElementById("projectIsBillable_"+current.pk).innerHTML = "<input type='checkbox' " + (isBillable ? "Checked": "") +" id='isBillable'/>";
            var isActive =  current.is_active;
            document.getElementById("projectIsActive_"+current.pk).innerHTML = "<input type='checkbox' "+ (isActive ? "Checked": "") + " id='isActive'/>";
        }
    }

    function cancelEdit(){
        edit = false;

        if(current != null){
            document.getElementById("editButtons").innerHTML = "<button class='btn btn-primary' onclick='editProject()'>Edit</button><button class='btn btn-warning'>Delete</button>";
            document.getElementById("projectTitle_"+current.pk).innerHTML = current.title;
            document.getElementById("projectDescription_"+current.pk).innerHTML = current.description;
            document.getElementById("projectStartDate_"+current.pk).innerHTML = current.start_date;
            document.getElementById("projectEndDate_"+current.pk).innerHTML = current.end_date;
            document.getElementById("projectIsBillable_"+current.pk).innerHTML = current.is_billable;
            document.getElementById("projectIsActive_"+current.pk).innerHTML = current.is_active;
        }
    }

    function saveEdit(){
        
        var temp = jQuery.extend(true, {}, current);
        //some jQuery

        temp.title = $("#title").val();
        temp.description = $("#description").val();
        temp.start_date = $("#startDate").val();
        temp.end_date = $("#endDate").val();
        temp.is_billable = $("#isBillable").is(':checked');
        temp.is_active = $("#isActive").is(':checked');
       
        $.post("/Home/Edit",temp, function(data, status){
            console.log(data);
            if(data == true){
                current.title = $("#title").val();
                current.description = $("#description").val();
                current.start_date = $("#startDate").val();
                current.end_date = $("#endDate").val();
                current.is_billable = $("#isBillable").is(':checked');
                current.is_active = $("#isActive").is(':checked');
            }
            cancelEdit();
        });
    }

    function deleteProject(){
        
       
        $.post("/Home/DeleteProject",current.pk, function(data, status){
            console.log(data);
            if(data == true){
                document.getElementById("project_"+current.pk).remove();
            }
            
        });
    }

    function getFromPk(pk){
        for(var i = 0; i < model.length; i++){
            if(model[i].pk == pk)
                return model[i];
        }
    }
</script>
